apiVersion: apps/v1
kind: Deployment
metadata:
  name: website-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:
      containers:
      - name: website
        image: website:latest          # your local Docker image
        imagePullPolicy: Never         # important: use local image
        ports:
        - containerPort: 80
